<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/index.css">
    <title>Stream Assets</title>
    <style>
      body,
      header {
        display: flex;
      }
      :root {
        --theme-primary-hue: 209deg;
      }
      body {
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <header class="header-gradient p-4 flex items-center gap-4 text-white">
      <h2>Stream Assets</h2>
      <nav>
        <!-- <a href="/">Home</a> -->
      </nav>
    </header>

    <main class="p-4">
      <div class="card">
        <h3>Available Stream Assets</h3>
        <p>List of assets currently available that can be used in your streams</p>
        <br />
        <table id="asset-table" class="w-full">
          <col class="w-3/4" >
          <col class="w-1/6" >
          <col class="w-1/6" >
          <thead class="border-b-2 border-b-steel-blue-500">
            <tr>
              <th>Asset Name</th>
              <th>Has Config</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
  
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <p>&#169; Thomas Kottke 2024</p>
    </footer>



    <script module>
      const table = document.getElementById('asset-table');

      function createTableRow() {
        const row = document.createElement('tr');

        row.addColumn = (value, className = []) => {
          const cell = document.createElement('td');
          cell.innerHTML = value;
          cell.classList.add(...className)

          row.appendChild(cell)
        }

        return row;
      }

      function loadAssets() {
        return fetch('/api/v1/stream-assets')
        .then((res) => res.json())
      }

      function updateTable(rows) {
        const tableBody = table.querySelector('tbody');

        tableBody.innerHTML = ''
        rows.forEach(row => tableBody.appendChild(row))
      }

      function assetToRow(streamAssetFile) {
        const row = createTableRow();

        row.addColumn(streamAssetFile.name, ['px-2'])
        row.addColumn(streamAssetFile.fields.length > 0 ? 'Yes' : 'No', ['text-center'])
        row.addColumn('')

        return row;
      }

      loadAssets()
        .then(({ files }) => {
          return files.map(file => assetToRow(file))
        })
        .then(rows => updateTable(rows));
    </script>
  </body>
</html>
