:root {
  --theme-bg: #efefef;
  --theme-bg--elevated: #eee;

}


footer,
header {
  padding:1rem;
  color:#fff
}

body,
html {
  width:100%;
  height:100%;
  margin:0;
  font-size:16px;
  font-family:sans-serif;
  background:#efefef
}

body, header {
  display: flex;
}

body {
  flex-direction: column;
}

header {
  align-items: center;
  gap:2rem;
  background-image: linear-gradient(
    75deg,
    hsl(209deg 30% 50%) 17%,
    hsl(209deg 33% 41%) 71%,
    hsl(210deg 38% 33%) 85%,
    hsl(210deg 45% 25%) 93%,
    hsl(209deg 61% 17%) 97%,
    hsl(208deg 100% 10%) 100%
  );
}

header a {
  color:currentColor;
  text-decoration:none;
  opacity:.75
}

header a:hover {
  opacity:1;
  text-decoration:underline
}

header h2 {
  margin:0
}

main {
  flex: 100% 2 1;
  padding: 1rem;
}

footer {
  background-color:hsl(var(--theme-primary-hue) 30% 30%)
}

.card {
  background-color: var(--theme-elevated-bg);
  border-color: var(--theme-elevated-bg);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  padding: 1rem;
}